img{
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
}   
h1{
   color: rgb(49, 202, 202);
    font-size: 50px;
}

li{
    font-size: 16 px;
    color: rgb(84, 200, 200);
    font-family: 'Times New Roman', Times, serif;
}